.bg1{
    background:#f17f49;
}
.bg2{
    background:#008000;
}
/*header*/
header{
    height:1rem;
    line-height:1rem;
    background:-webkit-linear-gradient(#00cc99,#0069d6,#0000cc);
}
header span{
    float: left;
    width:25%;
    text-align:center;
    font-size:.36rem;
}

/*main*/
.main{
    position: relative;
    /*相对定位属性*/
}
.main ul li{
    height:.8rem;
    line-height:.8rem;
}
.main span{
    float:left;
    width:25%;
    text-align:center;
    font-size:.28rem;
}